@import "styles/globalStyles";

.container {
  width: 100%;
  padding: 30px;
  font-weight: 100;
  box-sizing: border-box;
  background-color: $blackO;
  margin: 20px;
  border-radius: 10px;

  .question {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 700;

  }

  .tag {
    font-size: 11px;
    max-width: 100px;
    text-align: center;
    padding: 4px;
    border-radius: 50px;
    margin-bottom: 12px;
    text-transform: uppercase;

  }

  .answer {
    font-size: 16px;
  }


}

.Feed {
  border: 1px solid $pink;
  background-color: $pinkO;
}

.Keycards {
  border: 1px solid $lightBlue;
  background-color: $lightBlueO;
}

.Dashboards {
  border: 1px solid $purple;
  background-color: $purpleO;
}

.Messaging {
  border: 1px solid $navy;
  background-color: $navyO;
}

.Data {
  border: 1px solid $teal;
  background-color: $tealO;
}

.Employees {
  border: 1px solid $blue;
  background-color: $blueO
}

.Scheduling {
  border: 1px solid $green;
  background-color: $greenO;
}
