.fileInput {
visibility: hidden;
}
.label {
  background: rgb(225,33,98);
  background: linear-gradient(335deg, rgba(225,33,98,1) 0%, rgba(85,40,171,1) 100%);
  padding: 20px;
  text-align: center;
  width: 260px;
  height: 55px;
  display: block;
  border-radius: 100px;
  margin: 20px;
  font-weight: 100;
}
