@import "styles/globalStyles";

.container {
  display: flex;
  justify-content: flex-start;
  font-size: size(p);
  padding: 10px 0 20px 10px;
  margin: 10px 0;
  color: $whiteText;

  .textContent {
    width: 100%;

    .description {
      font-size: size(p);
      margin-bottom: 4px;
    }

    .time {
      font-size: size(p);
      align-self: center;
      font-weight: 300;
      color: color(secondary);
    }

    .nameAndTimeContainer {
      display: flex;
      justify-content: space-between;

      .name {
        color: color(primary);
        font-weight: 700;
        margin-bottom: 6px;
      }
    }
  }

  .avatar {
    align-self: flex-start;
    margin-right: 12px;

  }


}
