@import "styles/globalStyles.scss";

.item {
  display: flex;
  padding: 14px;
  border-bottom: 1px solid $transparentWhiteBg;

  &:hover {
    background: $transparentBlackBg;
  }

  .avatar {
    width: 30px;
  }

  .rightContent {
    flex: 1;
    font-size: size(p);
    align-self: center;
    font-weight: weight(light);
  }

  .hours {
    display: block;
    padding: 7px;
    width: 50px;
    text-align: center;
    border-radius: 100px;

  }
}

.lightGray {
  color: $grayText;
}
.title {
  color:  color(tertiary);
}

