@import "styles/globalStyles";

.container {
  padding: 90px 50px 0 50px;
  font-size: 14px;
  color: white;
  width: 800px;
}

.icons {
  align-self: center;
  svg {
    margin-left: 15px;
  }
}
.date {
  font-size: 11px;
  color: $teal;
  margin-bottom: 10px;
}

.sender {
  font-size: 14px;
  font-weight: 700;
}

.message {
  line-height: 1.8;
  font-size: 13px;
}
