.container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(12, 56, 80);
  background: linear-gradient(90deg, rgb(0, 22, 52) 0%, rgb(12, 56, 80) 100%);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top: 166px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 12px;
  transition: 0.2s;



  @media only screen and (max-width: 1000px) {
    left: -80px;
  }

  .open{
    left:0;
  }

  .menuControl {
    display: block;
    background: #349d16;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -153px;
    right: -60px;

    @media only screen and (min-width: 1000px){
      display: none;
      left: -300px;
      opacity: 0;
    }
  }

  .link {
    text-align: center;

    cursor: pointer;

    &:not(:last-child){
      margin-bottom: 20px;
    }

    &:hover{
      color: #a9a9a9;
    }

    &.active {
      color: #f4e50f;
    }

    .label {
      font-size: 9px;
      cursor: pointer;
    }
  }

}