@import "styles/globalStyles";

.container {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  left: 20px;
  top: 166px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 12px;
  transition: 0.2s;



  @media only screen and (max-width: 1000px) {
    left: -80px;
  }

  .open{
    left:0;
  }

  .menuControl {
    display: block;
    background: $green;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -153px;
    right: -60px;

    @media only screen and (min-width: 1000px){
      display: none;
      left: -300px;
      opacity: 0;
    }
  }

  .link {
    text-align: center;

    cursor: pointer;

    &:not(:last-child){
      margin-bottom: 20px;
    }

    &:hover{
      color: $gray;
    }

    &.active {
      color: $purple;
    }

    .label {
      font-size: 9px;
      cursor: pointer;
    }
  }

}
