.container {
  display: flex;
  flex-direction: row;
  min-height: 65%;
  box-sizing: border-box;

  .previewsContainer {
    height: 600px;
    width: 330px;
    overflow: scroll;
    scroll-behavior: smooth;

  }

  .messagesList {
    //background: rgba(0, 0, 0, 0.2);
    width: auto;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;

  }

  .previewPane {
    width: 65%;
    box-sizing: border-box;

  }
}
