@import "styles/globalStyles";

.contentContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-content: flex-start;
  justify-content: center;
  //border: 1px solid $green;
  flex-direction: column;

  .content {
    display: flex;
    flex: 1;
    width: 100%;
    margin: auto;
    align-self: flex-start;
    //border: 1px solid $purple;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px black;

    .innerContent {
      width: 100%;
      margin-left: 40px;
      //border: 1px solid $pink
    }

  }
}
