@import "../../../styles/globalStyles";

.container {
  display: flex;
  justify-content: space-between;
  color: $white;
  padding: 8px 20px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  //border: 1px solid $lightBlue;
  width: 100%;

  .rightModule {
    min-width: 200px;
    display: flex;
    align-content: center;
    justify-content: space-between;

    .avatar {
      padding: 13px 10px;
      background: #0c3850;
      border-radius: 40px;
      align-self: center;
      font-size: 12px;
      margin-left: 20px;
      width: 40px;
      height: 40px;
    }
    .username {
      align-self: center;
      padding: 10px 20px;
      font-weight: 100;
      font-size: 14px;
    }

    .button {
      align-self: center;
    }
  }

}
