@import "../../../styles/globalStyles";

.container {
  display: flex;
  justify-content: space-between;
  color: $white;
  padding: 8px 20px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  //border: 1px solid $lightBlue;
  width: 100%;
}
