@import "../../../styles/globalStyles";

.container {
  color: $white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 60px 0 0 0;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  float: left;
  //width: 50%;

  &.isMain {
    //width: 100%;

  }
  .link {
    text-align: left;
    cursor: pointer;
    padding: 12px 40px 12px 20px;
    color: $white;
    border-left: 5px solid transparent;
    font-weight: 100;
    max-height: 40px;


    &:hover {
      border-left: 5px solid $tealO;
    }

    &.active {
      color: $white;
      font-weight: 700;
      background-color: rgba(255, 255, 255, 0.1);
      border-left: 5px solid $purple;
    }

    .label {
      font-size: 13px;
      cursor: pointer;
      height: 100%;
    }
  }
  &.hasLinks {}
  &.hideMe {display: none}
  &.sub {
    background-color: rgba(0, 0, 0, 0.12);
    height: 100%;
    float: right;
    width: 60%;

    .link {
      padding: 12px 30px 12px 20px;

      &:first-child {
        margin-top: 40px;
      }

      &:hover {
        border-left: 5px solid $tealO;
      }

      &.active {
        border-left: 5px solid $blue;
      }

    }
  }

  .open {
    left: 0;
  }

}
