.link {
  align-self: center;
  color: #ffffff;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: lighter;
  position: relative;

  &.active {
    color: #349d16;
    font-weight: 700;
  }

  .alert {
    position: absolute;
    top: 3px;
    right: 4px;
    background: #f4e50f;
    border-radius: 20px;
    width: 8px;
    height: 8px;
  }
}