.addNewEmployeeContainer {
  flex: 0 0 auto;
  padding: 0 0 30px;
  display: flex;
}
.tableContainer {
  width: 90%;
  box-sizing: border-box;
}
.addFlex {
  display: flex;
  flex-direction: row;
}
.addNewEmployee {
  align-content: center;
}
