$pink: #e12162;
$red: #bc1a5a;
$purple: #9829ab;
$violet: #5528ab;
$blue: #282bab;
$navy: #2769aa;
$lightBlue: #56a8d7;
$teal: #56d5b8;
$green: #60c186;
$black: #000000;
$white: #ffffff;
$gray: #1d0224;

$pinkO: rgba(225, 33, 98, 0.5);
$redO: rgba(188, 26, 90, 0.5);
$purpleO: rgba(152, 41, 171, 0.5);
$violetO: rgba(85, 40, 171, 0.5);
$blueO: rgba(40, 43, 171, 0.5);
$navyO: rgba(39, 105, 170, 0.5);
$lightBlueO: rgba(86, 168, 215, 0.5);
$tealO: rgba(86, 213, 184, 0.5);
$greenO: rgba(96, 193, 134, 0.5);
$blackO: rgba(0, 0, 0, 0.5);
$whiteO: rgba(255, 255, 255, 0.5);

$navyPanel :#001834;
