.container {
  width: auto;
  box-sizing: border-box;
  padding: 30px 50px;

  .bottomLine {
    border-bottom: 1px solid #0070f3;
    display: flex;

    .link {
      background: #ffffff;
      border: 1px solid #0070f3;
      border-bottom: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      max-width: 200px;
      text-align: center;
      padding: 6px;
      font-size: 12px;
      margin-right: 4px;
      color: #0070f3;

      &.active {
        background: #0070f3;
        color: #ffffff;
      }
    }


  }
}