@import "styles/globalStyles";

.container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 40px 0;
  color: $white;
  padding: 0 30px;
  .left {
    display: flex;

    .refreshLink {
      color: $lightBlue;
      text-decoration: underline;
      margin: 0 20px;
    }

    .connected {
      color: $green;
    }
  }

  .right {
    display: flex;

    .editLayout {
      color: $lightBlue;
      text-decoration: underline;
    }

  }
}
