@import "styles/globalStyles";

.container {
  width: 85px;
  height: 31px;
  display: flex;
  background: $black;
  border-radius: 100px;
  padding: 6px;
  font-size: 13px;
  position: relative;
  margin: 10px auto;
  border: 1px solid $purpleO;
  color: $white;

  .slider {
    position: absolute;
    left: 3px;
    top: 2px;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background: $purple;
    transition: 0.2s;
  }

  div {
    width: 30px;
    text-align: center;
    cursor: pointer;
    color: $white;

    &.active {
      color: $white;
    }
  }

  .y {
    position: absolute;
    left: 0;
    top: 8px;


  }

  .m {
    position: absolute;
    left: 27px;
    top: 8px;

  }

  .q {
    position: absolute;
    right: 0;
    top: 8px;

  }
}
